{
  "extends": [{{#apiStyle.lint.isAribnbBase}}"airbnb-base"{{/apiStyle.lint.isAribnbBase}}{{#apiStyle.lint.isESlintRecommended}}"eslint:recommended"{{/apiStyle.lint.isESlintRecommended}}{{#apiStyle.lint.isESlingStandard}}"standard"{{/apiStyle.lint.isESlingStandard}}],
  "env": {
    "node": true,
    {{#devDependencies.test.mocha}}
    "mocha": true,
    {{/devDependencies.test.mocha}}
    "es6": true
  },
  "plugins": [],
  "parser": "babel-eslint"
}
