/**
 * Configure all routes for express app
 */

{{#dependencies.other.lodash}}
const _ = require('lodash')
{{/dependencies.other.lodash}}
{{#dependencies.other.config}}
const config = require('config')
{{/dependencies.other.config}}
{{#dependencies.other.http-status}}
const httpStatus = require('http-status')
{{/dependencies.other.http-status}}
{{#projectStyle.auth.needJwt}}
{{#dependencies.secure.tc-core-library-js}}
const authenticator = require('tc-core-library-js').middleware.jwtAuthenticator
{{/dependencies.secure.tc-core-library-js}}
{{^dependencies.secure.tc-core-library-js}}
const jwt = require('jsonwebtoken')
{{/dependencies.secure.tc-core-library-js}}
{{/projectStyle.auth.needJwt}}
const helper = require('./src/lib/helper')
const error = require('./src/lib/app-error')
const routes = require('./src/routes')
{{#dependencies.other.swagger-jsdoc}}

/**
 * Swagger-jsdoc
 */
const swaggerDefinition = {
  info: {
    // API informations (required)
    title: '{{project.name}}', // Title (required)
    version: '{{project.version}}', // Version (required)
    description: '{{project.description}}', // Description (optional)
  },
  host: `${config.host}:${config.port}`, // Host (optional)
  basePath: `${basePath}`, // Base path (optional)
}

// Options for the swagger docs
const options = {
  // Import swaggerDefinitions
  swaggerDefinition,
  // Path to the API docs
  // Note that this path is relative to the current directory from which the Node.js is ran,
  // not the application itself.
  apis: ['./src/route.js', './src/controller/*.js', './src/model/*.js'],
}

/**
  * @swagger
  * tags:
  *   - name: auth
  *     description: 'Certification for request user'
  *   - name: user
  *     description: 'Request with user resource'
  */

// Initialize swagger-jsdoc -> returns validated swagger spec in json format
const swaggerSpec = swaggerJSDoc(options)
{{/dependencies.other.swagger-jsdoc}}
{{#projectStyle.auth.needJwt}}
{{^dependencies.secure.tc-core-library-js}}

const authVerifier = (jwtKeyCacheTime) => {
  return {
    /**
     * Verify jwt token
     * @param  token  the token to verify
     * @param  secret  secret code (Optional), should be provided if alg is HS256
     * @param  callback  callback to pass responses
     */
    validateToken: (token, secret, callback) => {
      // Decode it first
      let decodedToken = jwt.decode(token, { complete: true })

      if (decodedToken) {
        jwtVerify(token, secret, callback)
      } else {
        callback(new error.UnauthorizedError('Invalid Token.'))
      }
    }
  }

  function jwtVerify (token, secretOrCert, callback) {
    jwt.verify(token, secretOrCert, (err, decoded) => {
      if (err) {
        callback(new error.UnauthorizedError('Failed to authenticate token.'))
      } else {
        callback(undefined, decoded)
      }
    })
  }
}
{{/dependencies.secure.tc-core-library-js}}
{{/projectStyle.auth.needJwt}}

/**
 * Configure all route for express app
 * @param {Object} app - the express app
 */
module.exports = (app) => {
  _.each(routes, (verbs, path) => {
    _.each(verbs, (params, verb) => {
      const method = require(`./src/controller/${params.controller}`)[params.operation]; // eslint-disable-line
      if (!method) {
        throw new error.InternalServerError(`${params.operation} is undefined, for controller ${params.controller}`)
      }

      const actions = [ (req, res, next) => {
        req.signature = `${params.controller}#${params.operation}`
        next()
      }]

      // add authenticator check if route has auth
      if (params.auth) {
        actions.push((req, res, next) => {
          {{#projectStyle.auth.needJwt}}
          {{#dependencies.secure.tc-core-library-js}}
          authenticator(_.pick(config, ['AUTH_SECRET', 'VALID_ISSUERS']))(req, res, next)
          {{/dependencies.secure.tc-core-library-js}}
          {{^dependencies.secure.tc-core-library-js}}
          const secret = config.get('AUTH_SECRET') || ''
          const jwtKeyCacheTime = config.get('JWT_KEY_CACHE_TIME', '24h')
          if (!secret || secret.length === 0) {
            throw new error.InternalServerError('Auth secret not provided')
          }

          const verifier = authVerifier(jwtKeyCacheTime)

          var token
          if (req.headers.authorization && req.headers.authorization.split(' ')[0] === 'Bearer') {
            token = req.headers.authorization.split(' ')[1]
          }
          // decode token
          if (token) {
            verifier.validateToken(token, secret, (err, decoded) => {
              if (err) {
                next(err)
              } else {
                // if everything is good, save to request for use in other routes
                req.authUser = decoded
                req.authUser.userId = _.parseInt(_.find(req.authUser, (value, key) => {
                  return (key.indexOf('userId') !== -1)
                }))
                req.authUser.handle = _.find(req.authUser, (value, key) => {
                  return (key.indexOf('handle') !== -1)
                })
                req.authUser.roles = _.find(req.authUser, (value, key) => {
                  return (key.indexOf('roles') !== -1)
                })

                next()
              }
            })
          } else {
            // if there is no token
            // return an error
            res.status(httpStatus.UNAUTHORIZED)
              .json({ message: 'No token provided.' })
            res.send()
          }
          {{/dependencies.secure.tc-core-library-js}}
          {{/projectStyle.auth.needJwt}}
        })
        actions.push((req, res, next) => { // eslint-disable-line
          if (req.authUser.isMachine) {
            // M2M Token
            if (!helper.checkIfExists(params.scopes, req.authUser.scopes)) {
              next(new error.ForbiddenError())
            } else {
              next()
            }
          } else {
            // User Token
            if (req.authUser.roles) {
              if (!helper.checkIfExists(params.roles, req.authUser.roles)) {
                next(new error.ForbiddenError())
              } else {
                next()
              }
            } else {
              next(new error.UnauthorizedError())
            }
          }
        })
      }

      actions.push(method)
      app[verb](path, helper.wrapMiddleware(actions))
    })
  })
  {{#dependencies.other.swagger-jsdoc}}

  // Serve swagger docs the way you like (Recommendation: swagger-tools)
  app.get('/swagger', (req, res) => {
    res.setHeader('Content-Type', 'application/json')
    res.send(swaggerSpec)
  })
  {{/dependencies.other.swagger-jsdoc}}

  // Check if the route is not found or HTTP method is not supported
  app.use('*', (req, res) => {
    if (routes[req.baseUrl]) {
      res.status(httpStatus.METHOD_NOT_ALLOWED).json({
        message: 'The requested HTTP method is not supported.'
      })
    } else {
      res.status(httpStatus.NOT_FOUND).json({
        message: 'The requested resource cannot be found.'
      })
    }
  })
}
