{
  "name": "{{project.name}}",
  "version": "{{project.version}}",
  "description": "{{project.description}}",
  "main": "app.js",
  "author": {
    "name": "TOPCODER"
  },
  "license": "",
  "scripts": {
    {{#projectStyle.language.isJavaScript}}
    "debug": "set DEBUG=api:*&&nodemon app.js",
    "start": "node app.js",
    "lint": "standard",
    "lint:fix": "standard --fix",
    {{#projectStyle.test.unitTest}}
    "test": "set DEBUG=api:*&&mocha test/unit/test.js --timeout 20000 --exit",
    {{/projectStyle.test.unitTest}}
    {{#projectStyle.test.e2eTest}}
    "e2e": "set DEBUG=api:*&&mocha test/e2e/test.js --timeout 20000 --exit",
    {{/projectStyle.test.e2eTest}}
    {{#projectStyle.test.needCoverage}}
    "cov": "nyc --reporter=html --reporter=text mocha test/unit/test.js --timeout 20000 --exit",
    {{#projectStyle.test.e2eTest}}
    "cov-e2e": "nyc --reporter=html --reporter=text mocha test/e2e/test.js --timeout 20000 --exit",
    {{/projectStyle.test.e2eTest}}
    {{/projectStyle.test.needCoverage}}
    "create-tables": "node scripts/create-tables.js",
    "delete-tables": "node scripts/delete-tables.js",
    "init-data": "node scripts/init-data.js",
    "clean-data": "node scripts/clean-data.js"
    {{/projectStyle.language.isJavaScript}}
    {{#projectStyle.language.isTypeScript}}
    "start": "ts-node app.ts“,
    "debug": "set DEBUG=*&&set CODE_ENV=development&&ts-node app.ts",
    "build": "tsc",
    "watch": "tsc -w",
    {{#projectStyle.test.unitTest}}
    "test": "jest --forceExit --coverage --verbose",
    {{/projectStyle.test.unitTest}}
    "tslint": "tslint -c tslint.json -p tsconfig.json"
    {{/projectStyle.language.isTypeScript}}
  },
  "dependencies": {
    {{#dependencies.secure.auth0-js}}
    "auth0-js": "^9.4.2",
    {{/dependencies.secure.auth0-js}}
    {{#dependencies.db.aws-sdk}}
    "aws-sdk": "^2.406.0",
    {{/dependencies.db.aws-sdk}}
    {{#dependencies.secure.bcryptjs}}
    "bcryptjs": "^2.4.3",
    {{/dependencies.secure.bcryptjs}}
    {{#dependencies.other.bluebird}}
    "bluebird": "^3.5.3",
    {{/dependencies.other.bluebird}}
    {{#dependencies.logger.bunyan}}
    "bunyan": "^1.8.12",
    {{/dependencies.logger.bunyan}}
    {{#dependencies.express.body-parser}}
    "body-parser": "^1.18.3",
    {{/dependencies.express.body-parser}}
    {{#dependencies.express.compression}}
    "compression": "^1.7.3",
    {{/dependencies.express.compression}}
    {{#dependencies.other.config}}
    "config": "^3.0.1",
    {{/dependencies.other.config}}
    {{#dependencies.express.cors}}
    "cors": "^2.8.5",
    {{/dependencies.express.cors}}
    {{#dependencies.db.dynamoose}}
    "dynamoose": "^1.7.3",
    {{/dependencies.db.dynamoose}}
    {{#dependencies.other.debug}}
    "debug": "^4.1.0",
    {{/dependencies.other.debug}}
    {{#dependencies.express.express}}
    "express": "^4.16.3",
    {{/dependencies.express.express}}
    {{#dependencies.express.express-fileupload}}
    "express-fileupload": "^1.1.4",
    {{/dependencies.express.express-fileupload}}
    {{#dependencies.express.express-interceptor}}
    "express-interceptor": "^1.2.0",
    {{/dependencies.express.express-interceptor}}
    {{#dependencies.secure.express-jwt}}
    "express-jwt": "^5.3.1",
    {{/dependencies.secure.express-jwt}}
    {{#dependencies.express.express-status-monitor}}
    "express-status-monitor": "^1.1.5",
    {{/dependencies.express.express-status-monitor}}
    {{#dependencies.logger.get-parameter-names}}
    "get-parameter-names": "^0.3.0",
    {{/dependencies.logger.get-parameter-names}}
    {{#dependencies.express.helmet}}
    "helmet": "^3.15.0",
    {{/dependencies.express.helmet}}
    {{#dependencies.secure.http}}
    "http": "^0.0.0",
    {{/dependencies.secure.http}}
    {{#dependencies.secure.https}}
    "https": "^1.0.0",
    {{/dependencies.secure.https}}
    {{#dependencies.other.http-status}}
    "http-status": "^1.3.1",
    {{/dependencies.other.http-status}}
    {{#dependencies.validate.joi}}
    "joi": "^14.3.0",
    {{/dependencies.validate.joi}}
    {{#dependencies.secure.jsonwebtoken}}
    "jsonwebtoken": "^8.4.0",
    {{/dependencies.secure.jsonwebtoken}}
    {{#dependencies.secure.jwks-rsa}}
    "jwks-rsa": "^1.4.0",
    {{/dependencies.secure.jwks-rsa}}
    {{#dependencies.other.lodash}}
    "lodash": "^4.17.10",
    {{/dependencies.other.lodash}}
    {{#dependencies.other.merge-deep}}
    "merge-deep": "^3.0.2",
    {{/dependencies.other.merge-deep}}
    {{#dependencies.other.moment}}
    "moment": "^2.24.0",
    {{/dependencies.other.moment}}
    {{#dependencies.logger.morgan}}
    "morgan": "^1.9.1",
    {{/dependencies.logger.morgan}}
    {{#dependencies.express.multer}}
    "multer": "^1.3.0",
    {{/dependencies.express.multer}}
    {{#dependencies.other.nodemailer}}
    "nodemailer": "^6.1.0",
    {{/dependencies.other.nodemailer}}
    {{#dependencies.other.pagination}}
    "pagination": "^0.4.6",
    {{/dependencies.other.pagination}}
    {{#dependencies.logger.winston}}
    "winston": "^3.2.1",
    {{/dependencies.logger.winston}}
    {{#dependencies.db.neo4j-driver}}
    "neo4j-driver": "^1.7.2",
    {{/dependencies.db.neo4j-driver}}
    {{#dependencies.db.json-file-db}}
    "json-file-db": "^0.0.2",
    {{/dependencies.db.json-file-db}}
    {{#dependencies.db.mongoose}}
    "mongoose": "^5.2.15",
    {{/dependencies.db.mongoose}}
    {{#dependencies.db.sequelize}}
    "sequelize": "^5.3.2",
    {{/dependencies.db.sequelize}}
    {{#dependencies.db.sqlite3}}
    "sqlite3": "^4.0.6",
    {{/dependencies.db.sqlite3}}
    {{#dependencies.db.pg}}
    "pg": "^7.10.0",
    {{/dependencies.db.pg}}
    {{#dependencies.db.pg-hstore}}
    "pg-hstore": "^2.3.2",
    {{/dependencies.db.pg-hstore}}
    {{#dependencies.db.mysql2}}
    "mysql2": "^1.6.5",
    {{/dependencies.db.mysql2}}
    {{#dependencies.db.mariadb}}
    "mariadb": "^2.0.3",
    {{/dependencies.db.mariadb}}
    {{#dependencies.db.tedious}}
    "tedious": "^6.1.1",
    {{/dependencies.db.tedious}}
    {{#dependencies.other.swagger-jsdoc}}
    "swagger-jsdoc": "^3.2.6",
    {{/dependencies.other.swagger-jsdoc}}
    {{#dependencies.other.xlsx}}
    "xlsx": "^0.14.2",
    {{/dependencies.other.xlsx}}
    {{#dependencies.secure.tc-core-library-js}}
    "tc-core-library-js": "appirio-tech/tc-core-library-js.git#v2.6.2",
    {{/dependencies.secure.tc-core-library-js}}
    "uuid": "^3.3.2"
  },
  "devDependencies": {
    {{#devDependencies.codeStyle.babel-eslint}}
    "babel-eslint": "^10.0.1",
    {{/devDependencies.codeStyle.babel-eslint}}
    {{#devDependencies.codeStyle.eslint}}
    "eslint": "^5.6.0",
    {{/devDependencies.codeStyle.eslint}}
    {{#devDependencies.codeStyle.eslint-config-standard}}
    "eslint-config-standard": "^12.0.0",
    {{/devDependencies.codeStyle.eslint-config-standard}}
    {{#devDependencies.codeStyle.eslint-plugin-import}}
    "eslint-plugin-import": "^2.14.0",
    {{/devDependencies.codeStyle.eslint-plugin-import}}
    {{#devDependencies.codeStyle.eslint-plugin-node}}
    "eslint-plugin-node": "^8.0.1",
    {{/devDependencies.codeStyle.eslint-plugin-node}}
    {{#devDependencies.codeStyle.eslint-plugin-promise}}
    "eslint-plugin-promise": "^4.0.1",
    {{/devDependencies.codeStyle.eslint-plugin-promise}}
    {{#devDependencies.codeStyle.eslint-plugin-standard}}
    "eslint-plugin-standard": "^4.0.0",
    {{/devDependencies.codeStyle.eslint-plugin-standard}}
    {{#devDependencies.codeStyle.eslint-airbnb-base}}
    "eslint-config-airbnb-base": "^13.1.0",
    {{/devDependencies.codeStyle.eslint-airbnb-base}}
    {{#devDependencies.codeStyle.eslint-chai-friendly}}
    "eslint-plugin-chai-friendly": "^0.4.1",
    {{/devDependencies.codeStyle.eslint-chai-friendly}}
    {{#devDependencies.test.mocha}}
    "mocha": "^5.2.0",
    {{/devDependencies.test.mocha}}
    {{#devDependencies.test.should}}
    "should": "^13.2.3",
    {{/devDependencies.test.should}}
    {{#devDependencies.test.chai}}
    "chai": "^4.2.0",
    {{/devDependencies.test.chai}}
    {{#devDependencies.coverage.nyc}}
    "nyc": "^14.1.1",
    {{/devDependencies.coverage.nyc}}
    {{#devDependencies.codeStyle.standard}}
    "standard": "^12.0.1",
    {{/devDependencies.codeStyle.standard}}
    {{#devDependencies.other.string-format}}
    "string-format": "^2.0.0",
    {{/devDependencies.other.string-format}}
    {{#devDependencies.other.superagent}}
    "superagent": "^5.1.0",
    {{/devDependencies.other.superagent}}
    {{#devDependencies.other.nodemon}}
    "nodemon": "^1.18.9"
    {{/devDependencies.other.nodemon}}
  },
  "engines": {
    "node": ">=10.14.0",
    "npm": ">=5.6.0"
  },
  {{#projectStyle.test.needCoverage}}
  "nyc": {
    "exclude": [
      "test/**/*",
      "coverage/*.js",
      "scripts/*.js",
      "src/lib/logger.js"
    ]
  },
  {{/projectStyle.test.needCoverage}}
  "standard": {
    "env": [
      "mocha"
    ]
  }
}
