-----BEGIN CERTIFICATE-----
MIICDDCCAXUCFC7/t68AG5rQ3gqcOwtoLws+iLyPMA0GCSqGSIb3DQEBCwUAMEUx
CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMTkwMjI4MTQxMDMyWhcNMTkwMzMwMTQx
MDMyWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIGfMA0GCSqGSIb3DQEBAQUAA4GN
ADCBiQKBgQChHlBcscFhQIvR4V6aQEvNsU43oh13Gvtx+g6IHMpllpDDzV6z4P2b
2PVvpoZTug1DyBbTg/URmcTbGM7FdgU3uYG7yuzVfmnTB1hacyrLdTIB5haGYHGJ
f+zW8bBQK9jwPrp8WXiuLD8nQMCMSIT/jHplW/2jRxwzaxH1texvjwIDAQABMA0G
CSqGSIb3DQEBCwUAA4GBAAVVtAYelSohqEgzt3qyc5TfDJ3/VFjM/bPcbZfrsmVl
5Ot7ttNgNuxKZlFgISVdAw4Vxe/iIzfsri7PTj8BDxYeTLbEk/YyKDOEFy7rj/au
g2rhihY/CeACsoclw02FmFT8N66IYRMW4XrFFk+fKflk5esmMT9//rfgAThjsyHQ
-----END CERTIFICATE-----
