{{^projectStyle.doc.needOpt}}
// not implement, remove need
{{/projectStyle.doc.needOpt}}
{{#projectStyle.doc.needOpt}}
package com.{{project.name}}.app.lib.error;

import org.springframework.http.HttpStatus;

public class OTPVerifyException extends ExtensibleException {
    public OTPVerifyException (String msg) {

        super(msg, HttpStatus.NON_AUTHORITATIVE_INFORMATION);
    }
}

{{/projectStyle.doc.needOpt}}
