{{#dependencies.other.http-status}}
const httpStatus = require('http-status')
{{/dependencies.other.http-status}}
{{#apiStyle.log.needLog}}
{{#dependencies.logger.bunyan}}
const logger = require('../lib/logger')
{{/dependencies.logger.bunyan}}
{{/apiStyle.log.needLog}}
const config = require('../config/config')

/**
 * @extends Error
 */
class ExtendableError extends Error {
  constructor (message, status) {
    super(message)
    this.error = message
    this.name = this.constructor.name
    this.status = status
    Error.captureStackTrace(this, this.constructor.name)
  }
}

/**
 * Class representing an Internal Server error.
 * @extends ExtendableError
 */
class InternalServerError extends ExtendableError {
  /**
   * Creates an Internal Server error.
   */
  constructor (message = config.response.err.internalServerError,
    httpCode = httpStatus.INTERNAL_SERVER_ERROR) {
    super(message, httpCode)
    {{#apiStyle.log.needLog}}
    {{#dependencies.logger.bunyan}}
    logger.error(message)
    {{/dependencies.logger.bunyan}}
    {{/apiStyle.log.needLog}}
  }
}

class AuthenticateError extends ExtendableError {
  /**
   * Creates an authenticate fail error.
   */
  constructor (message = config.response.err.unauthenticated, httpCode = httpStatus.UNAUTHORIZED) {
    super(message, httpCode)
    {{#apiStyle.log.needLog}}
    {{#dependencies.logger.bunyan}}
    logger.error(message)
    {{/dependencies.logger.bunyan}}
    {{/apiStyle.log.needLog}}
  }
}

class BadRequestError extends ExtendableError {
  /**
   * Creates an bad request error.
   */
  constructor (message = config.response.err.badRequest, httpCode = httpStatus.BAD_REQUEST) {
    super(message, httpCode)
    {{#apiStyle.log.needLog}}
    {{#dependencies.logger.bunyan}}
    logger.error(message)
    {{/dependencies.logger.bunyan}}
    {{/apiStyle.log.needLog}}
  }
}

class NotFoundError extends ExtendableError {
  /**
   * Creates an bad request error.
   */
  constructor (message = config.response.err.notFound, httpCode = httpStatus.NOT_FOUND) {
    super(message, httpCode)
    {{#apiStyle.log.needLog}}
    {{#dependencies.logger.bunyan}}
    logger.error(message)
    {{/dependencies.logger.bunyan}}
    {{/apiStyle.log.needLog}}
  }
}

class EntityExistError extends ExtendableError {
  constructor (message) {
    super(message, httpStatus.BAD_REQUEST)
    {{#apiStyle.log.needLog}}
    {{#dependencies.logger.bunyan}}
    logger.error(message)
    {{/dependencies.logger.bunyan}}
    {{/apiStyle.log.needLog}}
  }
}

module.exports = {
  AuthenticateError,
  BadRequestError,
  InternalServerError,
  NotFoundError,
  EntityExistError
}
