const config = require('config')
const Sequelize = require('sequelize')

{{#projectStyle.db.isMysql}}
const dbLink = `mysql://${config.get('DATABASE.USERNAME')}:${config.get('DATABASE.PASSWORD')}@${config.get('DATABASE.URL')}/${config.get('DATABASE.NAME')}`
const sequelize = new Sequelize(dbLink, {
  pool: {
    max: config.get('DATABASE.POOL_MAX'),
    min: 0,
    acquire: 30000,
    idle: 10000
  }
})

module.exports.sequelize = sequelize
{{/projectStyle.db.isMysql}}
{{#projectStyle.db.isMariadb}}
const dbLink = `mariadb://${config.get('DATABASE.USERNAME')}:${config.get('DATABASE.PASSWORD')}@${config.get('DATABASE.URL')}/${config.get('DATABASE.NAME')}`
const sequelize = new Sequelize(dbLink, {
  pool: {
    max: config.get('DATABASE.POOL_MAX'),
    min: 0,
    acquire: 30000,
    idle: 10000
  }
})

module.exports.sequelize = sequelize
{{/projectStyle.db.isMariadb}}
{{#projectStyle.db.isPostgres}}
const dbLink = `postgres://${config.get('DATABASE.USERNAME')}:${config.get('DATABASE.PASSWORD')}@${config.get('DATABASE.URL')}/${config.get('DATABASE.NAME')}`
const sequelize = new Sequelize(dbLink, {
  pool: {
    max: config.get('DATABASE.POOL_MAX'),
    min: 0,
    acquire: 30000,
    idle: 10000
  }
})

module.exports.sequelize = sequelize
{{/projectStyle.db.isPostgres}}
{{#projectStyle.db.isMssql}}
const dbLink = `mssql://${config.get('DATABASE.USERNAME')}:${config.get('DATABASE.PASSWORD')}@${config.get('DATABASE.URL')}/${config.get('DATABASE.NAME')}`
const sequelize = new Sequelize(dbLink, {
  pool: {
    max: config.get('DATABASE.POOL_MAX'),
    min: 0,
    acquire: 30000,
    idle: 10000
  }
})

module.exports.sequelize = sequelize
{{/projectStyle.db.isMssql}}
{{#projectStyle.db.isSqlite}}
/**
 * Define database connection
 */
const sequelize = new Sequelize('database', config.get('DATABASE_USERNAME'), config.get('DATABASE_PASSWORD'), {
  // sqlite! now!
  dialect: 'sqlite',

  // the storage engine for sqlite
  // - default ':memory:'
  storage: './db/database.db',
  pool: {
    max: config.get('DATABASE_POOL_MAX'),
    min: 0,
    acquire: 30000,
    idle: 10000
  }
})

module.exports.sequelize = sequelize
{{/projectStyle.db.isSqlite}}
{{^projectStyle.db.isSqlite}}
{{^projectStyle.db.isPostgres}}
{{^projectStyle.db.isMysql}}
{{^projectStyle.db.isMssql}}
{{^projectStyle.db.isMariadb}}
// TODO: Remove this file
{{/projectStyle.db.isMariadb}}
{{/projectStyle.db.isMssql}}
{{/projectStyle.db.isMysql}}
{{/projectStyle.db.isPostgres}}
{{/projectStyle.db.isSqlite}}
