{{^projectStyle.other.needGootleText2Speech}}
// not implement, remove need
{{/projectStyle.other.needGootleText2Speech}}
{{#projectStyle.other.needGootleText2Speech}}
package com.{{project.name}}.app.lib.google;

import com.google.protobuf.ByteString;

import java.io.IOException;

public interface Text2Speech {
    ByteString text2mp3(String text) throws IOException;
}

{{/projectStyle.other.needGootleText2Speech}}
