/**
 * The configuration file.
 */

module.exports = {
  LOG_LEVEL: process.env.LOG_LEVEL || 'debug',
  PORT: process.env.PORT || 3000,
  {{#projectStyle.other.needHttps}}
  SECURE_PORT: process.env.SECURE_PORT || 443,
  {{/projectStyle.other.needHttps}}
  {{#projectStyle.auth.needJwt}}
  AUTH_SECRET: process.env.AUTH_SECRET || 'This_value_should_be_changed_in_product_environment',
  JWT_KEY_CACHE_TIME: process.env.JWT_KEY_CACHE_TIME || '5d',
  {{#dependencies.secure.tc-core-library-js}}
  VALID_ISSUERS: process.env.VALID_ISSUERS || '["https://api.topcoder-dev.com", "https://api.topcoder.com", "https://topcoder-dev.auth0.com/"]',
  {{/dependencies.secure.tc-core-library-js}}
  {{/projectStyle.auth.needJwt}}
  {{#projectStyle.auth.needM2M}}
  {{/projectStyle.auth.needM2M}}
  {{#projectStyle.auth.needPassword}}
  PRIVATE_KEY: process.env.PRIVATE_KEY || '-----BEGIN PRIVATE KEY-----\nMIIBVQIBADANBgkqhkiG9w0BAQEFAASCAT8wggE7AgEAAkEAxme0vBpT/+KuLJM0estudsMeFbTELaAM7/WkVEEeTi4LKJ6NNdDBkEQaitHhbVixd69lI+/XWu/ZCmZ37zmu6QIDAQABAkEAsP1MdkzKSEeP9sWumCgnt5whl111b/oJ8HniCSM6BKRuSN0ehPEthEPENDlZzUDQmLLhHDM7P9q83Mo74LFQgQIhAOJZRfJRywbADHULqc2lFqrvMhtY/Mks4XGw11XYUU4ZAiEA4GVUC4S+nGwaTmN2XK2yk1CfQpbYGgdWsNioqco84VECIQC29nCq2mDhmPW42u+sEilLjMQVBQ5403V8f/TgKFY4aQIgN5aCcnQI8CELhz22dZEF+t5vBYTutcv5msehSKZz3HECICIdtmo0sQCDj1+8xVlH2DXpWL+Cb3vj3A10Cjc3hf4P\n-----END PRIVATE KEY-----',
  {{/projectStyle.auth.needPassword}}
  {{#projectStyle.db.isDynamoDB}}
  DYNAMODB: {
    AWS_ACCESS_KEY_ID: process.env.AWS_ACCESS_KEY_ID || 'FAKE_ACCESS_KEY',
    AWS_SECRET_ACCESS_KEY: process.env.AWS_SECRET_ACCESS_KEY || 'FAKE_SECRET_ACCESS_KEY',
    AWS_REGION: process.env.AWS_REGION || 'ap-southeast-1',
    IS_LOCAL: process.env.AWS_IS_LOCAL || true,
    AWS_DYNAMODB_ENDPOINT: process.env.AWS_DYNAMODB_ENDPOINT || 'http://localhost:8000'
  },
  {{/projectStyle.db.isDynamoDB}}
  {{#projectStyle.db.isSqlite}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'sqlite',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isSqlite}}
  {{#projectStyle.db.isPostgres}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'postgres',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    URL: process.env.DATABASE_URL || 'localhost:5432',
    NAME: process.env.DATABASE_NAME || 'DBName',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isPostgres}}
  {{#projectStyle.db.isMysql}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'mysql',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    URL: process.env.DATABASE_URL || 'localhost:3306',
    NAME: process.env.DATABASE_NAME || 'DBName',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isMysql}}
  {{#projectStyle.db.isMariadb}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'mariadb',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    URL: process.env.DATABASE_URL || 'localhost:3306',
    NAME: process.env.DATABASE_NAME || 'DBName',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isMariadb}}
  {{#projectStyle.db.isMssql}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'mssql',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    URL: process.env.DATABASE_URL || 'localhost:1433',
    NAME: process.env.DATABASE_NAME || 'DBName',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isMssql}}
  {{#dependencies.other.pagination}}
  PAGE: {
    PERPAGE_DEFAULT: process.env.PERPAGE_DEFAULT || 20,
    PER_PAGE_MAX: process.env.PERPAGE_MAX || 200
  },
  {{/dependencies.other.pagination}}
  {{#dependencies.other.nodemailer}}
  EMAIL: {
    ACCOUNT: process.env.EMAIL_SERVER_ACCOUNT || 'hxpwork2',
    PASSWORD: process.env.EMAIL_SERVER_PASSWORD || '980965',
    FROM: process.env.EMAIL_FROM || 'hxpwork2@126.com',
    HOST: process.env.EMAIL_SERVER_HOST || 'smtp.126.com',
    HOST_PORT: process.env.EMAIL_SERVER_HOST_PORT || 465
  },
  {{/dependencies.other.nodemailer}}
  LOG: {
    LOGGER_DIR: process.env.LOGGER_DIR || 'log',
    LOGGER_FILE: process.env.LOGGER_FILE || 'access.log'
  }
}
