/**
 * The configuration file.
 */

module.exports = {
  LOG_LEVEL: process.env.LOG_LEVEL || 'debug',
  PORT: process.env.PORT || 3000,
  API_VERSION: process.env.API_VERSION || '{{project.basePath}}',
  {{#projectStyle.other.needHttps}}
  SECURE_PORT: process.env.SECURE_PORT || 443,
  {{/projectStyle.other.needHttps}}
  {{#projectStyle.auth.needJwt}}
  AUTH_SECRET: process.env.AUTH_SECRET || 'mysecret',
  {{^dependencies.secure.tc-core-library-js}}
  JWT_KEY_CACHE_TIME: process.env.JWT_KEY_CACHE_TIME || '5d',
  {{/dependencies.secure.tc-core-library-js}}
  {{#dependencies.secure.tc-core-library-js}}
  VALID_ISSUERS: process.env.VALID_ISSUERS ? process.env.VALID_ISSUERS.replace(/\\"/g, '') : '["https://api.topcoder.com"]',
  {{/dependencies.secure.tc-core-library-js}}
  {{/projectStyle.auth.needJwt}}
  {{#projectStyle.auth.needM2M}}
  SCOPES: {
    SCORESYSTEM: process.env.SCOPE_SCORESYSTEM || 'review'
  },
  {{/projectStyle.auth.needM2M}}
  {{#projectStyle.auth.needPassword}}
  {{/projectStyle.auth.needPassword}}
  {{#projectStyle.db.isDynamoDB}}
  DYNAMODB: {
    AWS_ACCESS_KEY_ID: process.env.AWS_ACCESS_KEY_ID || 'FAKE_ACCESS_KEY',
    AWS_SECRET_ACCESS_KEY: process.env.AWS_SECRET_ACCESS_KEY || 'FAKE_SECRET_ACCESS_KEY',
    AWS_REGION: process.env.AWS_REGION || 'ap-southeast-1',
    AWS_IS_LOCAL: process.env.AWS_IS_LOCAL || true,
    AWS_DYNAMODB_ENDPOINT: process.env.AWS_DYNAMODB_ENDPOINT || 'http://localhost:8000',
    AWS_READ_UNITS: process.env.AWS_READ_UNITS || 15,
    AWS_WRITE_UNITS: process.env.AWS_WRITE_UNITS || 15
  },
  {{/projectStyle.db.isDynamoDB}}
  {{#projectStyle.db.isSqlite}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'sqlite',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isSqlite}}
  {{#projectStyle.db.isPostgres}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'postgres',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    URL: process.env.DATABASE_URL || 'localhost:5432',
    NAME: process.env.DATABASE_NAME || 'DBName',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isPostgres}}
  {{#projectStyle.db.isMysql}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'mysql',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    URL: process.env.DATABASE_URL || 'localhost:3306',
    NAME: process.env.DATABASE_NAME || 'DBName',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isMysql}}
  {{#projectStyle.db.isMariadb}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'mariadb',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    URL: process.env.DATABASE_URL || 'localhost:3306',
    NAME: process.env.DATABASE_NAME || 'DBName',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isMariadb}}
  {{#projectStyle.db.isMssql}}
  DATABASE: {
    USERNAME: process.env.DATABASE_USERNAME || 'mssql',
    PASSWORD: process.env.DATABASE_PASSWORD || '98096',
    URL: process.env.DATABASE_URL || 'localhost:1433',
    NAME: process.env.DATABASE_NAME || 'DBName',
    POOL_MAX: process.env.DATABASE_POOL_MAX || 30
  },
  {{/projectStyle.db.isMssql}}
  {{#dependencies.other.pagination}}
  PAGE: {
    PERPAGE_DEFAULT: process.env.PERPAGE_DEFAULT || 20,
    PER_PAGE_MAX: process.env.PERPAGE_MAX || 200
  },
  {{/dependencies.other.pagination}}
  {{#dependencies.other.nodemailer}}
  EMAIL: {
    ACCOUNT: process.env.EMAIL_SERVER_ACCOUNT || 'hxpwork2',
    PASSWORD: process.env.EMAIL_SERVER_PASSWORD || '980965',
    FROM: process.env.EMAIL_FROM || 'hxpwork2@126.com',
    HOST: process.env.EMAIL_SERVER_HOST || 'smtp.126.com',
    HOST_PORT: process.env.EMAIL_SERVER_HOST_PORT || 465
  },
  {{/dependencies.other.nodemailer}}
  LOG: {
    LOGGER_DIR: process.env.LOGGER_DIR || 'log',
    LOGGER_FILE: process.env.LOGGER_FILE || 'access.log'
  }
}
