package com.{{project.name}}.app;

import com.{{project.name}}.app.config.AppConfiguration;
{{#projectStyle.other.needAws}}
import com.{{project.name}}.app.config.S3Config;
{{/projectStyle.other.needAws}}
{{#projectStyle.other.needGootleText2Speech}}
import com.{{project.name}}.app.config.Text2SpeechConfig;
{{/projectStyle.other.needGootleText2Speech}}
{{#projectStyle.other.needTwilio}}
import com.{{project.name}}.app.config.TwilioConfig;
{{/projectStyle.other.needTwilio}}
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.context.properties.EnableConfigurationProperties;

@SpringBootApplication
@EnableConfigurationProperties({AppConfiguration.class{{#projectStyle.other.needTwilio}}, TwilioConfig.class{{/projectStyle.other.needTwilio}}{{#projectStyle.other.needAws}}, S3Config.class{{/projectStyle.other.needAws}}{{#projectStyle.other.needGootleText2Speech}}, Text2SpeechConfig.class{{/projectStyle.other.needGootleText2Speech}}})
public class AppApplication {

	public static void main(String[] args) {
		SpringApplication.run(AppApplication.class, args);
	}

}
