/**
* Initialize database tables. All data will be deleted.
*/

const logger = require('../src/lib/logger')
const { cleanData } = require('./tools')

const run = async () => {
  logger.info('Initializing database.')
  await cleanData()
  logger.info('Database initialized.')
}

run()
