openapi: "3.0.0"
info:
  title: {{project.name}} backend rest API
  description: |
    <b>Note</b>: please note.
  version: "1.0"
servers:
- url: {{{project.basePath}}}
  variables:
    apiVersion:
      default: '{{project.version}}'
      description: The REST API version
security:
{{#api.security.isJwt}}
- bearerAuth: []
{{/api.security.isJwt}}

paths:
  {{#paths}}
  {{{path}}}:
    parameters:
      - $ref: '#/components/parameters/id'
    {{#ops}}
    {{method}}:
      summary: {{operationId}} {{method}}
      description: |
        {{operationId}} {{method}}
      tags:
        - {{tag}}
      {{#noSecurity}}
      security: []
      {{/noSecurity}}
      parameters:
      {{#needNavPage}}
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sortOrder'
        - name: sortBy
          in: query
          description: The sort order
          required: false
          schema:
            type: string
            enum: [createdAt,updatedAt]
      {{/needNavPage}}
      {{#queryParams}}
        - name: {{name}}
          in: query
          description: {{name}}
          required: true
          example: {{name}}
          schema:
            type: string
      {{/queryParams}}
      {{#needReqBody}}
      requestBody:
        {{#needReqBodyRef}}
        content:
          application/json:
            schema:
              $ref: {{#refReqEntity}}'#/components/schemas/{{refReqEntity}}'{{/refReqEntity}}{{^refReqEntity}}'#/components/requestBodies/{{opreationName}}Body'{{/refReqEntity}}
        {{/needReqBodyRef}}
        {{^needReqBodyRef}}
        description: {{operationId}} request
        content:
          application/json:
            schema:
              type: object
              required:
                {{#reqBodyParams}}
                - {{name}}
                {{/reqBodyParams}}
              properties:
                {{#reqBodyParams}}
                {{> param}}
                {{/reqBodyParams}}
        {{/needReqBodyRef}}
      {{/needReqBody}}
      responses:
        {{#noResponseContent}}
        204:
          description: Successfully {{operationName}}.
        {{/noResponseContent}}
        {{^noResponseContent}}
        200:
          {{#needResponseRef}}
          description: The operation succeeded.
          content:
            application/json:
              schema:
                {{^isList}}
                $ref: {{#refResponseEntity}}'#/components/schemas/{{refResponseEntity}}'{{/refResponseEntity}}{{^refResponseEntity}}'#/components/responses/{{opreationName}}Response'{{/refResponseEntity}}
                {{/isList}}
                {{#isList}}
                {{^needNavPage}}
                type: array
                items:
                  $ref: {{#refResponseEntity}}'#/components/schemas/{{refResponseEntity}}'{{/refResponseEntity}}{{^refResponseEntity}}'#/components/responses/{{opreationName}}Response'{{/refResponseEntity}}
                {{/needNavPage}}
                {{#needNavPage}}
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: {{#refResponseEntity}}'#/components/schemas/{{refResponseEntity}}'{{/refResponseEntity}}{{^refResponseEntity}}'#/components/responses/{{opreationName}}Response'{{/refResponseEntity}}
                  total:
                    type: integer
                    description: the total of count
                    example: 35
                  page:
                    type: integer
                    example: 1
                  perPage:
                    type: integer
                    example: 20
                {{/needNavPage}}
                {{/isList}}
          {{/needResponseRef}}
          {{^needResponseRef}}
          description: The operation succeeded.
          content:
            application/json:
              schema:
                {{^isList}}
                type: object
                properties:
                  {{#responseParams}}
                  {{> param}}
                  {{/responseParams}}
                {{/isList}}
                {{#isList}}
                type: array
                items:
                  type: object
                  properties:
                    {{^needNavPage}}
                    {{#responseParams}}
                    {{> param}}
                    {{/responseParams}}
                    {{/needNavPage}}
                    {{#needNavPage}}
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          {{#responseParams}}
                          {{> param}}
                          {{/responseParams}}
                    total:
                      type: integer
                      description: the total of count
                      example: 35
                    page:
                      type: integer
                      example: 1
                    perPage:
                      type: integer
                      example: 20
                    {{/needNavPage}}
                {{/isList}}
          {{#needResponsePageHeader}}
          headers:
            X-Next-Page:
              schema:
                type: integer
              description: The index of the next page
            X-Page:
              schema:
                type: integer
              description: The index of the current page (starting at 1)
            X-Per-Page:
              schema:
                type: integer
              description: The number of items to list per page
            X-Total:
              schema:
                type: integer
              description: The total number of items
            X-Total-Pages:
              schema:
                type: integer
              description: The total number of pages
            Link:
              schema:
                type: string
              description: Pagination link header
          {{/needResponsePageHeader}}
          {{/needResponseRef}}
        {{/noResponseContent}}
        400:
          $ref: '#/components/responses/BadRequest'
        {{#needAuth}}
        401:
          $ref: '#/components/responses/Unauthenticated'
        {{/needAuth}}
        {{#needPermission}}
        403:
          $ref: '#/components/responses/Forbidden'
        {{/needPermission}}
        {{#needFound}}
        404:
          $ref: '#/components/responses/NotFound'
        {{/needFound}}
        500:
          $ref: '#/components/responses/InternalServerError'
    {{/ops}}
  {{/paths}}

components:
  {{#api.security.isJwt}}
  #-------------------------------
  # JWT Security schemes
  #-------------------------------
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  {{/api.security.isJwt}}

  #-------------------------------
  # Parameters
  #-------------------------------
  parameters:
    page:
      name: {{api.navigation.page}}
      in: query
      description: The page number.
      required: false
      schema:
        type: integer
        default: 1
      example: 1

    perPage:
      name: {{api.navigation.perPage}}
      in: query
      description: The number of items to list per page.
      required: false
      schema:
        type: integer
        default: 20
        maximum: 100
      example: 20

    sortOrder:
      name: {{api.navigation.sortOrder}}
      in: query
      description: The sort order.
      required: false
      schema:
        type: string
        enum: [asc, desc]
        default: desc
      example: asc

    id:
      name: id
      in: path
      description: The entity id.
      required: true
      schema:
        type: string
      example: 564935d6-16d5-4410-b415-55d369b90327

  #-------------------------------
  # Responses
  #-------------------------------
  responses:
    BadRequest:
      description: BAD REQUEST - if there was problem with the request (e.g. malformed or some parameters are missing).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthenticated:
      description: UNAUTHENTICATED - if the request didn't bear authentication information or the authentication information is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: FORBIDDEN - if the requesting user didn't have permission to perform the requested operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: NOT FOUND - if the resource in request did not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: INTERNAL SERVER ERROR - if the request was properly formatted, but the operation failed on the server side
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    {{#responses}}
    {{entity}}:
      description: {{entity}} response
      content:
        application/json:
          schema:
            type: object
            properties:
              {{#entityParams}}
              {{> param}}
              {{/entityParams}}
      {{#needResponsePageHeader}}
      headers:
        X-Next-Page:
          schema:
            type: integer
          description: The index of the next page
        X-Page:
          schema:
            type: integer
          description: The index of the current page (starting at 1)
        X-Per-Page:
          schema:
            type: integer
          description: The number of items to list per page
        X-Total:
          schema:
            type: integer
          description: The total number of items
        X-Total-Pages:
          schema:
            type: integer
          description: The total number of pages
        Link:
          schema:
            type: string
          description: Pagination link header
      {{/needResponsePageHeader}}
    {{/responses}}
  #-------------------------------
  # Request Bodies
  #-------------------------------
  requestBodies:
    {{#requestBodies}}
    {{entity}}:
      description: {{entity}} request body
      content:
        application/json:
          schema:
            type: object
            required:
              {{#entityParams}}
              - {{name}}
              {{/entityParams}}
            properties:
              {{#entityParams}}
              {{> param}}
              {{/entityParams}}
    {{/requestBodies}}
  #-------------------------------
  # Entities
  #-------------------------------
  schemas:
    Id:
      type: string
      description: The id.
      example: 564935d6-16d5-4410-b415-55d369b90327

    Error:
      description: |
        An error entity.
      properties:
        message:
          type: string
          description: The error message.

    {{#schemas}}
    {{entity}}:
      description: |
        The {{entity}} entity.
      required:
        {{#entityParams}}
        - {{name}}
        {{/entityParams}}
      properties:
        {{#entityParams}}{{> param}}{{/entityParams}}
    {{/schemas}}
