[
  {
    "userId": "111",
    "username": "THEFT"
  },
  {
    "userId": "222",
    "username": "FIRE"
  },
  {
    "userId": "333",
    "username": "ACCIDENTAL DAMAGE"
  },
  {
    "userId": "444",
    "username": "WINDSCREEN"
  },
  {
    "userId": "555",
    "username": "VANDALISM"
  }
]
