version: '3'
services:
  {{#projectStyle.db.isMongoDB}}
  mongo:
    image: mongo:4.0
    ports:
    - "27017:27017"
    environment:
    - MONGO_INITDB_DATABASE=apiKitDb
  mongo_cli:
    image: mongo:4.0
    links:
      - mongo
    build:
      context: ./
      dockerfile: ./Mongo.Cli.Dockerfile
    container_name: dynamodb-cli
  {{/projectStyle.db.isMongoDB}}
  {{#projectStyle.db.isDynamoDB}}
  dynamodb:
    image: amazon/dynamodb-local
    ports:
    - "8000:8000"
  dynamodb_cli:
    build:
      context: ./
      dockerfile: ./DynamoDB.Cli.Dockerfile
    container_name: dynamodb-cli
    links:
      - dynamodb
  {{/projectStyle.db.isDynamoDB}}
  web:
    build:
      context: ./
      dockerfile: ./Server.Dockerfile
    ports:
    - "3000:3000"
    environment:
    # web connect to the db in the mongo service
    {{#projectStyle.db.isMongoDB}}
    - MONGODB_URI=mongodb://mongo:27017/apiKitDb
    depends_on:
    - mongo
    links:
    - mongo
    {{/projectStyle.db.isMongoDB}}
    {{#projectStyle.db.isDynamoDB}}
    depends_on:
    - dynamodb
    links:
    - dynamodb
    {{/projectStyle.db.isDynamoDB}}
    volumes:
    # map parent dir to docker machine dir: /starter
    - ../:/starter
    # create a volumes /starter/node_modules in docker machine only
    - /starter/node_modules
