version: '3'
services:
  {{#projectStyle.db.isMongoDB}}
  mongo:
    image: mongo:4.0
    ports:
    - "27017:27017"
    environment:
    - MONGO_INITDB_DATABASE=apiKitDb
  {{/projectStyle.db.isMongoDB}}
  {{#projectStyle.db.isDynamoDB}}
  dynamodb:
    image: "amazon/dynamodb-local"
    ports:
      - "8000:8000"
  {{/projectStyle.db.isDynamoDB}}
