{{#projectStyle.db.isDynamoDB}}
FROM garland/aws-cli-docker

COPY ./init-dynamodb.sh .
COPY ./config /root/.aws/
COPY ./credentials /root/.aws/
RUN chmod +x ./init-db.sh

CMD ./init-db.sh
{{/projectStyle.db.isDynamoDB}}
