{{^projectStyle.auth.needJwt}}
// not implement, remove need
{{/projectStyle.auth.needJwt}}
{{#projectStyle.auth.needJwt}}
package com.{{project.name}}.app.lib.security;

import com.{{project.name}}.app.model.db.User;
import com.{{project.name}}.app.model.repository.UserRepository;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.security.core.userdetails.UserDetails;
import org.springframework.security.core.userdetails.UserDetailsService;
import org.springframework.security.core.userdetails.UsernameNotFoundException;
import org.springframework.stereotype.Service;

@Service
public class JwtUserDetailsServiceImpl implements UserDetailsService {
    @Autowired
    private UserRepository userRepository;

    @Override
    public UserDetails loadUserByUsername(String phone) throws UsernameNotFoundException {
        User user = userRepository.findByPhone(phone);

        if (user == null) {
            throw new UsernameNotFoundException(String.format("No user found with phone '%s'.", phone));
        } else {
            return JwtUserFactory.create(user);
        }
    }
}

{{/projectStyle.auth.needJwt}}
