/**
 * Contains constants
 */

module.exports.Role = {
  Admin: 'Administrator',
  Copilot: 'Copilot',
  User: 'Topcoder User'
}

module.exports.Response = {
  Forbidden: 'You are not allowed to perform this action!',
  NotAuthorized: 'You are not authorized to perform this action',
  BadRequest: 'Request parameters were invalid.',
  NotFound: 'Target resource not found.',
  Conflict: 'The resource object to be created violates the uniqueness principle.',
  InvalidResponseBody: 'Invalid response body.',
  InternalServerError: 'Something went wrong while processing your request. We’re sorry for the trouble. We’ve been notified of the error and will correct it as soon as possible. Please try your request again in a moment.'
}


/**
 * Database Schema
 */
module.exports.DB_SCHEMA = 'dbschema'
