{{#dependencies.other.need_debug}}
const debug = require('debug')('api:api-route');
{{/dependencies.other.need_debug}}
{{#projectStyle.server.isExpress}}
const server = require('express');
{{/projectStyle.server.isExpress}}
{{#apiStyle.other.needJwt}}
{{#dependencies.express.need_express_jwt}}
const jwt = require('jsonwebtoken');
const expressJwt = require('express-jwt');
{{/dependencies.express.need_express_jwt}}
{{/apiStyle.other.needJwt}}
{{#dependencies.other.need_http_status}}
const httpStatus = require('http-status');
{{/dependencies.other.need_http_status}}

const config = require('../config/config');
{{#apiStyle.log.needLog}}
{{#dependencies.logger.need_bunyan}}
const logger = require('../lib/logger');
{{/dependencies.logger.need_bunyan}}
{{/apiStyle.log.needLog}}
const {{project.module}} = require('../services/api-service');
const validates = require('./validate');

const router = new server.Router();
const { AuthenticateError } = require('../lib/app-error');
{{#apiStyle.other.needJwt}}

/**
 * Return member info packaged at jwt sign
 * @param {request} req request object from client
 * @returns member info with userId
 */
const getUserInfoFromToken = async (req) => {
  const auth = req.get(config.jwt.headerName);
  if (!auth) return Promise.reject(new AuthenticateError());

  const jwtObj = jwt.verify(auth.substr(7), config.jwt.secretKey);
  return Promise.resolve({ userId: jwtObj.userId });
};
{{/apiStyle.other.needJwt}}

/**
 * Format returned error info
 * @param {*} err caught error
 * @param {*} res http response
 * @returns Error object with status & error info
 */
const formatError = (err, res) => {
  {{#apiStyle.log.needLog}}
  {{#dependencies.logger.need_bunyan}}
  logger.error(err);
  {{/dependencies.logger.need_bunyan}}
  {{/apiStyle.log.needLog}}

  if (!err || !err.status) {
    return res.status(httpStatus.INTERNAL_SERVER_ERROR).send({
      status: httpStatus.INTERNAL_SERVER_ERROR,
      message: config.response.err.internalServerError
    });
  }
  return res.status(err.status).send({
    status: err.status,
    message: err.error || err.message
  });
};
{{#apiStyle.other.needJwt}}

/**
 * **just for validation in test phase.**
 * Auth api not include in demand, but we need jwt token for api security.
 * So this api will return a valid JWT token for particular memberId
 * without check username and password.
 */
router.get('/auth/login/:userId', async (req, res, next) => {
  /** ignore validate because this api not in demand */
  const { userId } = req.params;

  /** TODO: find user info by userId */

  const token = jwt.sign({
    userId
  }, config.jwt.secretKey, {
    expiresIn: config.jwt.expired
  });
  return res.json({
    token,
    userId
  });
});

/**
 * Validate token, removed after dev complete
 */
router.route('/auth/token')
  .get(expressJwt({
    secret: config.jwt.secretKey
  }), async (req, res, next) => {
    try {
      const result = await getUserInfoFromToken(req);
      if (!result) {
        return formatError(null, res);
      }
      return res.status(result.status || 200).json(result);
    } catch (err) {
      debug('err: %s', JSON.stringify(err));
      return formatError(err, res);
    }
  });
{{/apiStyle.other.needJwt}}

/**
 * Sample route
 */
router.route('/{{project.module}}/userId/:userId')
  .get({{#apiStyle.other.needJwt}}expressJwt({
    secret: config.jwt.secretKey
  }), {{/apiStyle.other.needJwt}}async (req, res, next) => {
    try {
      const options = {
        userId: req.params.userId,
        page: req.query.page,
        perPage: req.query.perPage
      };

      const validOptions = await validates.validForSampleRoute(options);
      const result = await {{project.module}}.sampleService(validOptions);
      res.status(result.status || 200).json(result);
    } catch (err) {
      return formatError(err, res);
    }
  });


module.exports = router;
