{{#apiStyle.other.needOpt}}
{{project.name}}.otpIntervalSeconds=300
{{project.name}}.otpSecret=ThisIsOtpJwtSecret
{{/apiStyle.other.needOpt}}
{{#apiStyle.other.needJwt}}
{{project.name}}.tokenIntervalMinutes=2400
{{project.name}}.tokenSecret=ThisIsRestRequestJwtSecret
{{project.name}}.JwtHeader=Bearer
{{/apiStyle.other.needJwt}}

{{#projectStyle.db.isMongoDB}}
spring.data.mongodb.uri=mongodb://localhost:27017/{{project.name}}
{{/projectStyle.db.isMongoDB}}
spring.profiles.default=development

{{#apiStyle.other.needTwilio}}
twilio.from=+14087419066
twilio.accountSid=AC314e18cf8aa149ec739bc8c2ed1e3a88
twilio.accountToken=95bec68968bbc5009d85878b5493948e
twilio.forceTo=+8613925035130
{{/apiStyle.other.needTwilio}}

{{#apiStyle.other.needAws}}
aws.s3.accessKeyId=AKIAJNASGO6RAJOHUDUQ
aws.s3.secretAccessKey=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
aws.s3.region=ap-southeast-1
aws.s3.bucket={{project.name}}
{{/apiStyle.other.needAws}}

{{#apiStyle.other.needGootleText2Speech}}
## below need setting in run\configuration > environments
## GOOGLE_APPLICATION_CREDENTIALS=C:\Work\TopCoder\Autocognita\hxpwork-62c02b503de0.json
text2speech.language=en-US
{{/apiStyle.other.needGootleText2Speech}}
